<% if current_user %>
  <p><%= link_to "Sign Out", signout_path, method: :delete %></p>
  <%= debug current_user %>
<% else %>
  <p><%= link_to "Connect with Stripe", authorize_url, data: { 'no-turbolink' => true } %></p>
<% end %>
