.stripe-connect {
  background: image-url('stripe-connect.png');
  color: transparent;
  display: inline-block;
  width: 190px;
  line-height: 33px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
  .stripe-connect {
    background: image-url('stripe-connect@2x.png');
    width: 380px;
    line-height: 66px;
  }
}
